.ArtisansProfile {
  margin-top: 100px;
  // padding-top: 50px;
  text-align: start;
  .containers {
    // border: red solid;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    .row{
      --bs-gutter-x: 0;
      .col-md-8{
        padding: 0;
      }
    }
  }
  .side-section {
    position: sticky;
    top: 80px;
    border: solid #ccc 1px;
    width: 100%;
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 25px;
    max-width: 350px;
    margin: 0 auto;
    .header {
      border-radius: 10px 10px 0 0;
      // border: solid #ccc  1px ;
      border-bottom: none;
      background-color: var(--color-primary);
      height: 120px;
    }
    .BackButton {
      button {
        color: #fff;
      }
      margin-right: auto;
      // border: solid 1px #fff;
      width: 100px;
    }
    .profile-image-container {
      // border: solid;
      width: 170px;
      height: 170px;
      margin: 0 auto;
      margin-top: -70px;
      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: contain;
        object-position: center;
      }
    }
    .extra-button {
      display: flex;
      justify-content: space-around;
    }
  }
  .main-area {
    width: 100%;
    padding:0 10px;
    margin-bottom: 20px;
    max-width: none;
    overflow-x: hidden;

    .profile-nav {
      list-style: none;
      display: flex;
      border-bottom: solid 1px #ddd;
      li {
        padding: 10px 5px;
        cursor: pointer;
      }
      :hover {
        border-bottom: solid 2px #333;
      }
    }
    .top-section {
      display: flex;
      .image-div {
        width: 200px;
        padding: 0;
        margin-left: 25px;
        overflow: hidden;
        height: 300px;
        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          object-position: center;
        }
      }
      .name-div {
        padding: 10px;
        width: 100%;
        max-width: 400px;
      }
      h1 {
        font-size: 30px;
      }
      span {
        border: solid 1px;
        margin: 0 10px;
        padding: 0;
        border-radius: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        font-size: 12px;
        // width: 140px;
      }

      position: relative;
      .extra-button {
        display: flex;
        position: absolute;
        top: 0;
        right: 0px;
      }
    }
    padding: 0;
    .introduction {
      text-align: start;
      line-height: 30px;
      padding: 25px;
    }

    .more-info {
      ul {
        list-style: none;
        padding: 0;
      }
    }
    .contact-div {
      display: flex;
      justify-content: space-evenly;
      .contact-button {
        border: solid 1px var(--color-primary);
        width: 300px;
        background-color: transparent;
        height: 40px;
      }
      .ChatPopUpButton {
        width: 300px;
        background-color: var(--color-primary);
        min-width: 100%;
      }
    }
    .featured-projects {
      overflow-x: hidden;
      .image-flex {
        display: flex;
        overflow-x: scroll;
        img {
          max-width: 700px;
          // margin: 5px;
        }
      }
    }
  }
  .reviews-div {
    // border: solid red;
    .reviews {
      max-height: 300px;
      overflow: hidden;
      overflow-y: scroll;
    }

    // star

    .rating {
      position: relative;
      width: 180px;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3em;
      padding: 5px;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 0 2px #b3acac;
    }

    .rating__result {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(2px) translateX(0px);
      z-index: -9;
      font: 25px Arial, Helvetica, sans-serif;
      color: #000c138e;
      pointer-events: none;
    }

    .rating__star {
      font-size: 1.3em;
      cursor: pointer;
      color: #dabd18b2;
      transition: filter linear 0.3s;
    }

    .rating__star:hover {
      filter: drop-shadow(1px 1px 4px gold);
    }
    // star ends
    .review {
      // border: solid rgb(86, 0, 0);
      border-bottom: solid #ddd 2px;
      margin: 20px;
      sup {
        display: block;
        padding: 10px 0;
        margin: 0;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    overflow: hidden;
    .side-section {
      // border: solid green;
      width: 100%;
      max-width: none;
    }
    .main-area {
      // ....
      // width: 100%;
      .introduction {
        padding: 18px;
      }
    }
    .card-area {
      display: none;
    }
  }
  @media only screen and (max-width: 425px) {
    overflow: hidden;
    .main-area {
      padding: 10px;
      .profile-nav {
        padding: 0;
        li {
          padding: 0 2px;
        }
      }
      .top-section {
        flex-direction: column;
        text-align: center;
        .name-div {
          .service-ul {
            justify-content: center;
          }
        }
        .image-div {
          width: 100%;
          // max-width: 300px;
          // remove this height
          height: unset;
          margin: auto;
          img {
            width: 100%;
          }
        }
        button {
          margin: 10px auto;
        }
        .extra-button {
          position: static;
          justify-content: space-evenly;
        }
      }
      .introduction {
        padding: 5px;
      }
      .contact-div {
        .contact-button {
          width: 200px;
        }
      }
    }
    .card-area {
      display: none;
    }
  }
  @media only screen and (max-width: 320px) {
    overflow: hidden;
    .main-area {
      .contact-div {
        .contact-button {
          width: 150px;
        }
      }
    }
  }
}
