#job-record {




    .bg-primaryy {
        background-color: #013049;
    }

    .text-primaryy {
        color: #013049;
    }


}

.job-card {
    // max-width: 700px;
}

// .job-tags {
//     width: 60px;
// }
.job-tag-p {
    font-size: 10px;
}

.job-des {
    font-size: 12px;
    color: rgb(63, 63, 63);
    font-weight: 300;
}

.jobs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: stretch;
}

@media (max-width:576px) {
    .jobs-container {
        grid-template-columns: 1fr;
    }
}