#job-offer-page {




    .bg-primaryy {
        background-color: #EF6E0B;
    }

    .text-primaryy {
        color: #EF6E0B;
    }











}

.job-card {
    // max-width: 700px;
}

// .job-tags {
//     width: 60px;
// }
.job-tag-p {
    font-size: 10px;
}

.job-des {
    font-size: 18px;
    color: '#013049';
    font-weight: 300;
}

#job-offer-page .jobs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
}

.font-sm-text {
    font-size: 12px;
}

.city-bg {
    background: linear-gradient(#ef6e0b, #ef6e0b) url('../../assets/images/city-bg.svg') no-repeat;
    background-position-x: left;
    background-size: 400px;
    background-position-y: bottom;

}

@media (max-width:576px) {
    #job-offer-page .jobs-container {
        grid-template-columns: 1fr;
    }
}