.ChatPopUp {
  /*Open ChatPopUpButton*/
  .ChatPopUpButton {
    background-color: var(--color-primary);
    color: #fff;
    width: 100%;
  }
  /* The Modal (background) */
  .modal {
    // display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 10%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding: 0 8px;
    margin-top: 15px;
    padding-top: 70px;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    max-width: 500px;
  }

  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
  }

  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }

  @keyframes animatezoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  /* Bordered form */
  form {
    border: 3px solid #f1f1f1;
  }

  /* Full-width inputs */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  // button {
  //   background-color: #04aa6d;
  //   color: white;
  //   padding: 14px 20px;
  //   // margin: 8px 0;
  //   border: none;
  //   cursor: pointer;
  //   // width: 100%;
  // }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
}

.PopUpMessage {
  border: solid red;
  .modal {
    margin-top: -37px;
  }
  .modal-content {
    border: solid;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    .footer {
      border: solid red;
      width: 100%;
      margin-bottom: 0;
      position: absolute;
      bottom: 5px;
      left: 5px;
      right: 5px;
      height: 45px;
      margin: 0;
      a,
      button {
        // position: static;
        width: 100px;
        height: 40px;
        // display: inline-block;
        font-size: 15px;
        border: solid;

        border-radius: 5px;
        // left: 0;
        top: 0;
        margin: 0 5px;
      }
      a {
        text-decoration: none;
        width: 200px;
        color: #fff;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        background-color: var(--color-primary);
      }
      button.close {
        background-color: red;
        color: #fff;
      }
    }
  }
}
