.verify {
  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    input {
      width: 70px;
      height: 70px;
      font-size: 2em;
      text-align: center;
      border-radius: 0px;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
  button {
    margin-left: 5px;
    height: 40px;
    // width: 100px;
    border: none;
    background-color: #003049;
    color: #ffffff;
    margin-top: 10px;
  }
}
