.SaveButton {
  overflow: hidden;
  // padding: 5px;
  margin-top: 5px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    padding: 3px;
    border-radius: 5px;
    font-size: 40px;
  }
  .remove {
    border: solid 1px #dc3545;
    color: #dc3545;
  }
  .add {
    border: solid 1px var(--color-primary);
    color: var(--color-primary);
  }
}
