.verify-section {
    height: 100vh;
    .search-text {
        color: #003049;
        text-align: center;
        padding-top: 190px;
        .verify-name {
            font-weight: 700;
        }
    }
    @media only screen and (max-width: 480px) {
        .search-text {
            .verify-name {
                font-weight: 600;
            }
        }
    }
}