.VerifyUserPage {
  padding-top: 40px;
  // border: solid;
  position: relative;
  .tableFixHead {
    overflow-y: auto;
    height: 400px;
  }
  .tableFixHead thead th {
    position: sticky;
    top: -1px;
    background-color: var(--color-primary);
    color: #fff;
    z-index: 2;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    border: none !important;
  }
  thead {
  }
  th,
  td {
    border: none !important;
    padding: 8px 16px;
    .check-verify-div {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      padding-right: 0;
      flex-direction: row-reverse;
      .check-verify-icon {
        top: 0;
        right: 0;
        font-size: 15px;
        margin: auto 1px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .back-to-top{
    border: solid;  
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
    &:hover{
      background-color: #0d7085;
    }
    position: absolute;
    right: 10px;
    bottom: 0;
    z-index: 999;

  }
}
