.VerifyUserPage {
  padding-top: 40px;
  position: relative;
  .table-responsive-sm {
    overflow: scroll;
    width: 100%;

    table {
      width: 100%;
      .loading {
        position: absolute;
        height: 250px;
        width: 100%;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(90, 90, 90);
      }
      thead {
        background-color: var(--color-primary);
        color: #fff;
        tr {
          th {
            min-width: 150px;
          }
        }
      }

      tbody {
        tr {
          td {
            .check-verify-div {
              // position: relative;
              // border: solid;
              margin-top: auto;
              display: flex;
              justify-content: space-between;
              padding-right: 0;
              flex-direction: row-reverse;
              .check-verify-icon {
                // position: absolute;
                top: 0;
                right: 0;
                font-size: 15px;
                margin: auto 1px;
                // border: solid;
                img {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
