.VerifyUserPage {
  padding-top: 40px;
  .tableFixHead {
    overflow-y: auto;
    height: 400px;
  }
  .tableFixHead thead th {
    position: sticky;
    top: -1px;
    background-color: var(--color-primary);
    color: #fff;
    z-index: 2;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    border: none !important;
  }
  thead {
  }
  th,
  td {
    border: none !important;
    padding: 8px 16px;
    .check-verify-div {
      margin-top: auto;
      display: flex;
      justify-content: space-between;
      padding-right: 0;
      flex-direction: row-reverse;
      .check-verify-icon {
        top: 0;
        right: 0;
        font-size: 15px;
        margin: auto 1px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
