.reset {
    .house-div {
        width: 500px;
        // height: 200px;
        margin-top: 140px;
        justify-content: center;
        h3 {
            text-align: center;
        }
        input {
            width: 100%;
        }
        button {
            border: none;
            color: #ffff;
            width: 100%;
            background-color: #ff730a;
        }
    }
    @media only screen and (max-width: 480px) {
        .house-div {
            width: 400px;
        }
    }
    @media only screen and (max-width: 400px) {
        .house-div {
            width: 350px;
        }
    }
    @media only screen and (max-width: 768px) {}
    @media only screen and (max-width: 900px) {}
}